* {
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
}

window#waybar {
  background: rgba(20, 20, 25, 0.75);
  border-radius: 14px;
  margin: 8px 12px;
}

#custom-arch {
  padding: 0 14px;
}

#workspaces button {
  padding: 0 8px;
  margin: 4px;
  border-radius: 10px;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.15);
}

#clock,
#network,
#pulseaudio,
#backlight,
#battery,
#bluetooth,
#tray,
#custom-power {
  background: rgba(255, 255, 255, 0.08);
  margin: 5px;
  padding: 0 12px;
  border-radius: 12px;
}

#custom-power {
  color: #ff5555;
}